<div class="drone-card">
  <div class="card-container-drone">
    <img height="250" src="{{image}}" alt="{{title}}"/>
  </div>  
  <div class="drone-container">
    <h2>{{name}}</h2>
      <p>Propellers: {{propellers}}</p>
      <p>MaxSpeed: {{maxSpeed}}</p>
    <a href="/drones/{{_id}}/edit">Edit</a>
     <a href="/drones/{{_id}}/delete">Delete</a>
  </div>
</div>