<div class="drone-card">
  <div class="card-container-drone">
    <img height="250" src="{{image}}" alt="{{title}}"/>
  </div>  
  <div class="drone-container">
    <h2>{{name}}</h2>
      <p>Propellers: {{propellers}}</p>
      <p>MaxSpeed: {{maxSpeed}}</p>
  </div>
</div>